@model Country

<div class="row">
    <div class="col-12">

        <dl>
            <dt>Name</dt>
            <dd>@Model.Name</dd>

            <dt>CountryCode</dt>
            <dd>@Model.CountryCode</dd>
        </dl>
        <a asp-controller="Countries" asp-action="index">Go back</a>

    </div>
</div>
